# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# WebStorm
.idea

# github
.gitignore

# npm
.npmignore

# travis
.travis.yml

# appveyor
appveyor.yml

# test
test

# adodb dev src
lib/adodb

# rollup
rollup.js

# test mdb
test/node-adodb.mdb

# vscode beautify extension configure
.jsbeautifyrc
